<html>
    <head>
        {{ include('head.html') }}
    </head>
    <body>
        <section class="main">
            {{ include('header.html') }}
            {{ include('navigation.html') }}
            <div class="content content_block">
                <h3>О нас</h3>
                <p>Интернет-магазин ShoeZzilla предоставляет высококачественную обувь из натураной кожи. Наш магазин сотрудничает с ведущими производителями обуви Украины, что позволяет нам устанавливать невысокую
                    цену.</p>
                <p>Простой и удобный дизайн сайта позволит Вам, как покупателю, всего в несколько кликов мыши подобрать модель
                    в соответствии с Вашим вкусом, и с такой же простотой оформить доставку в удобное для Вас отделение &laquo;Нова пошта&raquo;.</p>
                <hr/>
                <p>Вы всегда можете связаться с нами с помощью формы обратной связи, а также по адресам и телефонам, указанным в разделе "Контакты".<br/></p>
            </div>
            {{ include('footer.html') }}
        </section>
    </body>
</html>