<html>
    <!DOCTYPE html>
    <head>
        {{ include('head.html') }}
    </head>
    <body>
    <section class="main">
        {{ include('header.html') }}
        {{ include('navigation.html') }}
        <div class="content">
        <div class="contacts">
            <h3>Контакты:</h3>
            <span><i>Kiyvstar: </i>+38 096 605 45 83</span><br>
            <span><i>Lifecell: </i>+38 073 492 50 71</span><br>
            <span><i>Gmail: </i>maximusfk@gmail.com</span>
        </div>
        </div>
        {{ include('footer.html') }}
    </section>
    </body>
</html>