<html>
    <!DOCTYPE html>
    <head>
        {{ include('head.html') }}
    </head>
    <body>
    <section class="main">
        {{ include('header.html') }}
        {{ include('navigation.html') }}
        <div class="content content_block contacts">
            <h3>Контакты:</h3>
            <span><i>Kiyvstar: </i>+38 096 605 45 83</span><br>
            <span><i>Lifecell: </i>+38 073 492 50 71</span><br>
            <span><i>E-mail: </i>support@shoezzilla.com.ua</span>
            <br/><hr/>
            <i>Время работы call-центра c 9:00 до 19:00 без выходных.</i>
        </div>
        {{ include('footer.html') }}
    </section>
    </body>
</html>