<html>
    {% set delivery_c = 'menu_chosed' %}
    <head>
        {{ include('head.html') }}
    </head>
    <body>
        <section class="main">
            {{ include('header.html') }}
            {{ include('navigation.html') }}
            <div class="content content_block">
                <section id="delivery_info">
                    <h2>Доставка</h2>
                    <p><a href="https://novaposhta.ua/" target="_blank"><img src="https://novaposhta.ua/runtime/cache/320x95/nova%E2%80%93poshta-15-long_320px.png"></a></p>
                    <p>Доставка осуществляется с помощью службы NovaPoshta. Дату отправки и ориентировочную дату доставки Вы можете получить на странице просмотра Вашего
                        заказа.</p>
                    <p>Вы в любой момент можете просмотреть текущий статус Вашего заказа, а также дополнительную информацию по номеру заказа.</p>
                    <p>Номер заказа Вы увидете при подтверждении, а также Вы получите статус-письмо с квитанцией и дополнительной информацией.</p>
                </section>
                <hr/>
                <section id="purc_return_info">
                    <h2>Возврат покупки</h2>
                    <h4>Порядок возврата приобретенного товара:</h4>
                    <p>Для оформления возврата покупки, Вам необходимо отправить электронное сообщение на адрес <i>support@shoezzilla.com.ua</i>. 
                        Обязательно детально опишите найденые недочеты или заводской брак,а также прикрепите фотографии к сообщению.</p>
                    <p>Также Вы можете при первичном осмотре покупки на почте, оформить немедленный возврат отправителю. В таком случае стоимость услуг обратной доставки оплачиваете Вы</p>
                    <p>При обращении к Продавцу с претензией или возвратом в случаях, установленных Законом Украины «О защите прав потребителей», Вы должны предоставить:</p>
                    <ul>
                        <li>чистую обувь, упакованную в фирменную индивидуальную коробку;</li>
                        <li>все комплектующие детали;</li>
                    </ul>
                    <h4>Список нормативно-технической документации, требованиям которых должна соответствовать обувь:</h4>
                    <ul>
                        <li>ДСТУ 2157 «Обувь. Термины и определения»;</li>
                        <li>ДСТУ 2158 «Обувь. Дефекты. Термины и определения»;</li>
                        <li>ГОСТ 26167:2009 «Обувь повседневная.ТУ»;</li>
                        <li>ГОСТ 19116:2007 «Обувь модельная.ТУ»;</li>
                        <li>ГОСТ 26165:2009 «Обувь детская.ТУ»;</li>
                        <li>ДСТУ 2063 «Обувь для активного отдыха.ТУ»;</li>
                        <li>ГОСТ 1135:2007 «Обувь домашняя, дорожняя.ТУ»;</li>
                    </ul>
                    <h4>Гарантийные сроки товаров согласно  р.ІІ ст.7 п.2 Закона Украины «Про защиту прав потребителей»:</h4>
                    <ul>
                        <li>Обувь повседневная: 30 дней с дня продажи через розничную сеть или с начала сезона;</li>
                        <li>Обувь модельная: 30 дней с дня продажи через розничную сеть или с начала сезона;</li>
                        <li>Обувь детская: 30 дней с дня продажи через розничную сеть или с начала сезона;</li>
                        <li>Обувь для активного отдыха: 60 дней с дня продажи через розничную сеть или с начала сезона;</li>
                        <li>Обувь домашняя: 30 дней с дня продажи через розничную сеть;</li>
                    </ul>
                    <h4>Согласно р І, ст.1 Закона Украины «Про защиту прав потребителей»:</h4>
                    <p>Гарантийный срок — это срок, в течение которого изготовитель (продавец) 
                        принимает на себя обязательства о проведении бесплатного ремонта или замены соответствующей продукции в связи с введением ее в оборот.</p>
                    <p>Срок службы — календарный срок использования продукции по 
                        назначению, на протяжении которого производитель гарантирует её безопасность и несет 
                        ответственность за существенные недостатки, которые возникли по его вине.</p>
                    <p>Срок службы соответствует гарантийному сроку.</p>
                    <p>Гарантийный срок для обуви исчисляется с начала соответствующего сезона:</p>
                    <ul>
                        <li>Зимний сезон с 15 ноября по 15 марта;</li>
                        <li>Весенне-осенний сезон с 15 марта по 15 мая и с 15 сентября по 15 ноября;</li>
                        <li>Летний сезон  с 15 мая по 15 сентября;</li>
                    </ul>
                    <p>При истечении гарантийного срока обращения по поводу недостатков не рассматриваются.</p>
                </section>
            </div>
            {{ include('footer.html') }}
        </section>
    </body>
</html>