<html>
    <head>
        {{ include('head.html') }}
    </head>
    <body>
        <section class="main">
            {{ include('header.html') }}
            {{ include('navigation.html') }}
            <div class="content"></div>
        
            {{ include('footer.html') }}
        </section>
    </body>
</html>