<html>
    <head>
        {{ include('head.html') }}
        <title>Как выбрать размер? | Интернет-магазин ShoeZzilla shoezzilla.com.ua</title>
    </head>
    <body>
        <section class="main">
            {{ include('header.html') }}
            {{ include('navigation.html') }}
            <div class="content content_block">
                <p>При покупке обуви в Интернет-магазине сущесвует сложность именно в выборе размера 
                    т.к. разные производители могут по разному определять размеры своей продукции.<br/>
                <h4>Важные замечания:</h4>
                <ul>
                    <li>При покупке меньшего размера кроссовок у вас может возникнуть определённый дискомфорт разной степени выраженности.</li>
                    <li>Заказав большие кроссовки, нога будет слишком свободна внутри них; в итоге возможны как натирания, так и серьёзные травмы. </li>
                    <li>Не стоит надеяться, что у вас сохранился прежний размер стопы; с возрастом её размер стопы изменяться. </li>
                    <li>Измерения следует проводить в конце дня, когда размер вашей ноги максимальный (связано с притоком крови, физиологически схоже с состоянием, когда вы активно тренируетесь). </li>
                    <li>Желательно надеть те носки, которые вы будете носить с новой обувью (толщина носка, особенно использование плотного толстого носка, заметно влияет на размер кроссовок). </li>
                    <li>Все замеры производятся в сантиметрах.</li>
                </ul>
                В нашем интернет-магазине Вы можете правильно выбрать Ваш размер, следуя инструкции указанной ниже и таблице размеров.</p>
                <span class="warning">В таблице указаны размеры, специфические для нашего Интернет-магазина</span>
                <h3>Как правильно выбрать размер?</h3>
                <img src="/images/sizes/size1.jpg" alt="size"/>
                <p>Правильное измерение стопы является залогом правильного выбора размера обуви. Ниже собраны советы по наиболее правильному измерению длины стопы и выбору размера обуви.</p>
                <ol>
                    <li>Измерим длину стопы. Делать это рекомендуется в конце дня, так как в это время размер стопы имеет максимальное значение.
                        Встаньте на лист бумаги и обведите ногу карандашом. Если Вы собираетесь носить носки, то Вам стоит их надеть и измерять стопу вместе с ними. 
                        Для определения длины стопы измерьте расстояние между самыми удаленными точками на чертеже, как показано на рисунке. Измерьте обе ноги и выберите большую длину.
                    </li>
                    <li>Найдите в таблице подходящую длину и определите подходящий размер. Желательно округлить длину в большую сторону.</li>
                </ol>
                <hr/>
                <table border="1" cellspacing="0" cellpadding="2" width="750" bordercolor="#c0c0c0">
                    <caption>Мужские взрослые размеры</caption>
                    <tbody>
                        <tr>
                            <td><strong><em>ISO 3355-77(см)</em></strong></td>
                            <td><strong>22.5</strong></td>
                            <td><strong>23</strong></td>
                            <td><strong>23.5</strong></td>
                            <td><strong>24</strong></td>
                            <td><strong>24.5</strong></td>
                            <td><strong>25</strong></td>
                            <td><strong>25.5</strong></td>
                            <td><strong>26</strong></td>
                            <td><strong>26.5</strong></td>
                            <td><strong>27</strong></td>
                            <td><strong>27.5</strong></td>
                            <td><strong>28</strong></td>
                            <td><strong>28.5</strong></td>
                            <td><strong>29</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Европа</strong></td>
                            <td>36</td>
                            <td>37</td>
                            <td>37.5</td>
                            <td>38</td>
                            <td>38.5</td>
                            <td>39</td>
                            <td>40</td>
                            <td>41</td>
                            <td>42</td>
                            <td>43</td>
                            <td>44</td>
                            <td>45</td>
                            <td>46</td>
                            <td>47</td>
                        </tr>
                        <tr>
                            <td><strong>Украина/Россия</strong></td>
                            <td>33</td>
                            <td>34</td>
                            <td>35</td>
                            <td>36</td>
                            <td>37</td>
                            <td>38</td>
                            <td>39</td>
                            <td>40</td>
                            <td>41</td>
                            <td>42</td>
                            <td>43</td>
                            <td>44</td>
                            <td>45</td>
                            <td>46</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{ include('footer.html') }}
        </section>
    </body>
</html>