<footer>
    <section>
        <section id="social">
            <h5>Мы в социальных сетях</h5>
            <ul>
                <li class="social_i"><a href="https://vk.com/shoezzilla"><i class="fa fa-fw fa-vk vk"></i></a></li>
                <li class="social_i"><a href="https://instagram.com/shoezzilla"><i class="fa fa-fw fa-instagram"></i></a></li>
            </ul>
        </section>
        <section>
            <h5>Интернет-магазин качественной обуви ShoeZzilla</h5>
            <h3>Контакты:</h3>
            <span><i>Kiyvstar: </i>+38 096 605 45 83</span><br>
            <span><i>Lifecell: </i>+38 073 492 50 71</span><br>
            <span><i>E-mail: </i>support@shoezzilla.com.ua</span><br/>
            <span><a href="/sitemap.php">Карта сайта</a></span>
        </section>
        
    </section>
</footer>
<section id="mailback">
    <section id="head"><img src="/images/email_white.png" alt="[email]"/><span>Отправьте нам сообщение</span><img id="close_img" src="/images/up.png" alt="[close]"/></section>
    <form id="message" hidden="hidden">
        <p style="color: gray">Отправьте нам Ваше сообщение и мы Вам обязательно ответим!</p>
        <textarea name="message" rows="15" placeholder="Ваше сообщение *" required="required"></textarea><br/>
        <input type="text" name="name" placeholder="Ваше имя"/><br/>
        <input type="tel" name="phone" placeholder="Ваш телефон"/><br/>
        <input type="email" name="email" placeholder="Ваш E-mail *" required="required"/><br/><hr/>
        <button class="important_lower_b" type="submit">Отправить</button>
    </form>
</section>
<script type="text/javascript">
    $("section#head").click(function () {
        $("form#message").slideToggle("fast", function () {
            if($(this).is(":hidden")) {
                $("img#close_img").attr("src", "/images/up.png");
            }
            else {
                $("img#close_img").attr("src", "/images/down-arrow.png");
            }
        });
    });
    $("form#message").submit(function (event) {
        event.preventDefault();
        var data = {};
        $("form#message button").addClass("loading");
        $("form#message button").attr("disabled", "disabled")
        $("form#message textarea, form#message input").each(function () {
            data[$(this).attr("name")] = $(this).val();
        });
        $.get("/method/send_message.php", {
            name: data.name,
            phone: data.phone,
            email: data.email,
            message: data.message
        }).done(function (msg) {
            $("form#message textarea, form#message input").each(function () {
                $(this).val("");
            });
            $("form#message button").removeClass("loading");
            $("form#message button").removeAttr("disabled");
            $("form#message").slideUp("fast");
        }).error(function (msg) {
            alert(msg);
        });
    });
</script>