<header>
    <!--<div class="lang"><a>RU</a>|<a href="#">UA</a></div>-->
    <section class="cart_widget">
        <a href="#">
            <img src="/images/cart_32.png">
            <span>Товаров: <i id="count">0</i></span><br>
            <small id="goto_cart">Оформить покупку</small>
        </a>
    </section>
    <a href="/">
        <img id="main_logo" src="/images/reks_logo_n_m.png">
    </a>
<form class="search_form" action="/search.php" method="GET">
        <input name="find" type="text" class="search" rows="1" placeholder="Поиск">
        <button type="submit" id="search_submit">
            <img height="21" width="22" src="/images/search_button_green.png">
        </button>
    </form>
</header>
<script type="text/javascript">
    function notify_cart_count(count) {
        $("i#count").text(count);
    }
</script>