<div class="navigation">
    <a href="/">Главная</a>
    <a href="/shoes/catalog.php?category=all">Каталог</a>
    <a href="/delivery">Доставка</a>
    <a href="#">О нас</a>
    <a href="/contacts">Контакты</a>
    <form>
        <input id="order_search_text" type="text" placeholder="Номер заказа" name="order_id">
        <button id="order_search_submit" type="submit"><img src="/images/move-to-next_16.png"></button>
    </form>
    <a class="login" id="login_link" href="/profile.php?type=login">Личный кабинет</a>
</div>
