<div id="navigation">
    <div class="navigation">
        <a class="{{ main_c }}" href="/"><i class="fa fa-fw fa-home"> </i>Главная</a>
        <a class="{{ catalog_c }}" id="catalog" href="/shoes/catalog.php?sort=display_name&sort_t=ASC&category=all&season=all&price_min=&price_max=&page_size=20"><i class="fa fa-fw fa-shopping-bag"> </i>Каталог</a>
        <a class="{{ delivery_c }}" href="/delivery"><i class="fa fa-fw fa-truck"> </i>Доставка</a>
        <a class="{{ about_c }}" href="/about"><i class="fa fa-fw fa-info-circle"> </i>О нас</a>
        <a class="{{ contacts_c }}" href="/contacts"><i class="fa fa-fw fa-phone"> </i>Контакты</a>
        <a class="login" id="login_link" href="/profile.php?type=login"><i class="fa fa-fw fa-sign-in"> </i>Личный кабинет</a>
    </div>
    {#<div class="sub_menu hidden" id="categories">
        <a href="/shoes/catalog.php?category=boots">Ботинки</a><br/><hr/>
        <a href="/shoes/catalog.php?category=cross">Кроссовки</a>
    </div>#}
</div>
{#<script>
    $("a#catalog").mouseenter(
    function () {
        $("#categories").slideDown({duration: "fast", queue: false});
    });
    $("#navigation").mouseleave(
    function () {
        $("#categories").slideUp({duration: "fast", queue: false});
    });
</script>#}