<div id="navigation">
    <div class="navigation">
        <a href="/">Главная</a>
        <a id="catalog" href="/shoes/catalog.php?category=all">Каталог</a>
        <a href="/delivery">Доставка</a>
        <a href="#">О нас</a>
        <a href="/contacts">Контакты</a>
        <form action="/order.php">
            <input id="order_search_text" type="text" placeholder="Код заказа" name="access_code">
            <button id="order_search_submit" type="submit"><img src="/images/move-to-next_16.png"></button>
        </form>
        <a class="login" id="login_link" href="/profile.php?type=login">Личный кабинет</a>
    </div>
    <div class="sub_menu hidden" id="categories">
        <a href="/shoes/catalog.php?category=boots">Ботинки</a><br/><hr/>
        <a href="/shoes/catalog.php?category=cross">Кроссовки</a>
    </div>
</div>
<script>
    $("a#catalog").mouseenter(
    function () {
        $("#categories").slideDown("fast");
    });
    $("#navigation").mouseleave(
    function () {
        $("#categories").slideUp("fast");
    });
</script>
