<section class="item_view" id="{{ item.id }}">
    <a href="/shoes/photos/{{ item.img_code }}_orig.jpg">
    <img height="110" width="198" src="/shoes/photos/{{ item.img_code }}_small.jpg">
    </a>
    
</section>