form.login_form {
    width: 100%;
    text-align: center;
}

form.login_form input[type="text"], form.login_form input[type="password"] {
    width: 260px;
}

form.login_form button#login_submit {
    width: 8em;
    height: 3em;
    font-size: .8em;
}

form.login_form button#register {
    width: 8em;
    height: 2.6em;
    margin-left: 10px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #00D05e;
    color: #00D05e;
    cursor: pointer;
}