section#desc_r {
    float: left;
}

h1#ss_s {
    font-size: 1.5em;
    color: #00D05e;
    text-shadow: 1px 1px 1px black;
    padding-left: 0.5em;
    padding-top: 0.5em;
    margin-top: 0;
    margin-bottom: 15px;
}

section.images {
    width: 38%;
    float: left;
}

section.images>img#photo_show {
    max-width: 95%;
    max-height: 500px;
}
section.images>img.photo_small {
    margin-top: 5px;
    max-height: 60px;
    max-width: 100px;
    display: inline-block;
    cursor: pointer;
}

section.description {
    width: 59%;
    float: right;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    min-height: 300px;
    padding: 10px;
}

button.chosed {
    background: #FFF url(/images/vertical-cs.png) repeat-x;
    color: white;
    text-shadow: 1px 1px 2px black;
    box-shadow: 0 0 2px .5px black;
    border-radius: 2px;
    border: 1px solid #00D05e;
    font: bold 0.7em sans-serif;
    cursor: pointer;
    margin-left: 5px;
    width: 35px;
    height: 30px;
}

img.chosed {
    box-shadow: 0 0 5px 1px #00D05e;
}

button.size_choser {
    width: 35px;
    height: 30px;
    color: #00D05e;
    margin-left: 5px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #00D05e;
    font: bold 0.7em sans-serif;
    cursor: pointer;
}

section.allow_sizes {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    width: max-content;
}

section.allow_sizes a {
    font-size: 0.7em;
    text-decoration: underline;
    
}

section.allow_sizes a:hover {
    text-shadow: 0 0 .5px black;
}

section.allow_sizes a:visited {
    color: #00D05e;
}

section.allow_sizes i {
    font-size: 0.7em;
}

section#price_cart {
    float: right;
}

button#pust_to_cart {
    width: 151px;
    border-radius: 2px;
    margin-top: 5px;
}

section#price {
    width: 150px;
    height: max-content;
/*    box-shadow: 0 0 2px .5px black;*/
    text-shadow: 0 0 .5px black;
    border-radius: 5px;
    border: 1px solid gray;
    color: #00D05e;
    font-size: 2.2em;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

section#desc_r p {
    margin-left: 5px;
    width: 70%;
}